// ================VARS==========================
$mainfz: 16px;
$mainclr: #000;
// $i is for "@while"
$i: 1;
$mainbg: #eee;
$ffr: "Roboto", sans-serif;
$ffm: "Montserrat", sans-serif;
$mobile-L: "(max-width: 425px)";
$mobile-S: "(max-width: 320px)";
// ===================MIXINS================================
@mixin transition($prop, $dur, $timefun) {
  transition: $prop $dur $timefun;
}

@mixin border($width, $style, $color) {
  border: $width $style $color;
}

@mixin box-shadow($x, $y, $z, $color) {
  box-shadow: $x $y $z $color;
}

@mixin body-min-reset($height: 100%, $line-height: 1) {
  height: $height;
  line-height: $line-height;
  font-size: $mainfz;
  color: $mainclr;
  background: $mainbg;
  font-family: $ffr;
}
// ===================FUNCTIONS=======================
@function display($display) {
  @return $display;
}
// ===============MINRESET============================
*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
  padding: 0;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  @include body-min-reset();
}

// ==============WRAPPER=========================
.wrapper {
  min-height: 100vh;
  overflow: hidden;
  padding: 0 20px;
  display: display(flex);
  flex-direction: column;
  background: url("../img/code-coding-laptop-programming.jpg");
}
// =============HEADER=============================
header {
  padding: 10px 0;
}
.page-title {
  text-align: center;
  font-size: 30px;
}
// ================NAV===============================

.menu {
  padding: 20px 0 0 20px;
  .menu-list {
    background: rgb(224, 224, 12);
    display: display(inline-block);
    min-width: 200px;
    @include border(3px, solid, #000);
    @include box-shadow(2px, 5px, 10px, #462e2e);
    border-radius: 10px;
    overflow: hidden;
    li {
      @while $i <= 3 {
        &:nth-child(#{$i}) {
          padding: 10px 0 10px 5px;
        }
        $i: $i + 1;
      }
      @include transition(all, 0.2s, ease-out);
      &:hover {
        background: lighten(rgb(224, 224, 12), 10%);
        @while $i <= 3 {
          &:nth-child(#{$i}) {
            padding: 10px 0 10px 20px;
          }
          $i: $i + 1;
        }
        body {
          background: red;
        }
      }
      a {
        font-size: 22px;
        color: $mainclr;
        display: display(block);
      }
    }
  }
}
// ==================MAIN==========================

main {
  padding-top: 35px;
}

// ======RADIOBUTTONS========

.radio-selector {
  display: display(flex);
  align-items: center;
  span {
    font-size: 30px;
  }
}

.radio-buttons {
  @include border(3px, dashed, darken(#f28383, 100%));
  background: #f28383;
  border-radius: 10px;
  min-width: 200px;
  padding: 15px 0 15px 10px;
}
.radio-block:not(:last-child) {
  margin-bottom: 5px;
}

.style-selector {
  margin-left: 20px;
  span {
    background: url("../img/icons8-длинная-стрелка-влево-80.png") no-repeat left
      center;
    min-height: 80px;
    display: display(inline-flex);
    align-items: center;
    padding-left: 100px;
  }
}
// ========TABLE============

#table {
  margin-top: 40px;
  border-radius: 10px;
  @include box-shadow(2px, 5px, 10px, #ccc);
  background: #fff;
}

// =========FOOTER==============================

footer {
  margin-top: auto;
  padding-bottom: 30px;
  .footer-box {
    display: display(inline-block);
    @include border(3px, dashed, #f86);
    background: rgb(255, 184, 165);
    padding: 20px 40px 20px 15px;
    border-radius: 10px;
    p {
      @while $i < 3 {
        &:nth-child(#{$i}) {
          margin-bottom: 10px;
        }
        $i: $i + 1;
      }
      font-size: 23px;
    }
  }
}
